Repository xmldom/xmldom, pull requests merged in 2023-07, with the labels that each got.

#509 Add `nodeName` property with tests to ProcessingInstruction
  lib/dom.js
  test/dom/processing-instruction.test.js
Labels: spec:DOM Level 3, testing

#513 chore: use prettier plugin for jsdoc
  .prettierrc.yaml
  index.d.ts
  lib/conventions.js
  lib/dom-parser.js
  lib/dom.js
  lib/entities.js
  lib/grammar.js
  lib/sax.js
  package-lock.json
  package.json
  test/dom/document.test.js
  test/error/reported-levels.test.js
  test/error/reported.js
  test/error/xml-reader-dom-handler-errors.test.js
  test/get-test-parser.js
  test/grammar/utils.js
  test/parse/namespace.test.js
  test/xmltest/generate-snapshot.js
Labels: dependencies, code style

#519 fix!: report more non well-formed cases
  lib/dom-parser.js
  lib/grammar.js
  lib/sax.js
  test/dom-parser.test.js
  test/dom/serializer.test.js
  test/error/__snapshots__/reported-levels.test.js.snap
  test/error/__snapshots__/xml-error.test.js.snap
  test/error/reported-levels.test.js
  test/error/reported.js
  test/error/xml-error.test.js
  test/error/xml-reader-dom-handler-errors.test.js
  test/grammar/__snapshots__/regexp.test.js.snap
  test/grammar/regexp.js
  test/html/__snapshots__/normalize.test.js.snap
  test/html/normalize.test.js
  test/parse/__snapshots__/locator.test.js.snap
  test/parse/__snapshots__/parse-element.test.js.snap
  test/parse/__snapshots__/simple.test.js.snap
  test/parse/__snapshots__/test-doc-whitespace.test.js.snap
  test/parse/locator.test.js
  test/parse/parse-element.test.js
  test/parse/simple.test.js
  test/parse/test-doc-whitespace.test.js
  test/xmltest/__snapshots__/not-wf.test.js.snap
  test/xmltest/__snapshots__/valid.test.js.snap
  test/xmltest/not-wf.test.js
  test/xmltest/valid.test.js
Labels: xml:not well-formed, xml:well-formed, spec:XML, testing, spec:DOM-Parsing, breaking change, spec:HTML, error handling
